*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box{
    width: 302px;
    height: 200px;
    border: 1px solid #000000;
    overflow: hidden;
}

.box1{
    float: left;
    margin: 10px;
    width: 130px;
    height: 180px;
    border: 1px solid #000000;
}

.box2{
    margin: 10px;
    width: 110px;
    height: 75px;
    border: 1px solid #000000;
}

.box3{
    float: left;
    margin: 10px 0 10px 10px;
    width: 39px;
    height: 55px;
    border: 1px solid #000000;
}
